form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

input {
  border-radius: 5px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 100%; 
}

.table span {
  margin: 10px;
  padding: 5px;
}

.books_info {
  width: 30%;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

#add_new {
  margin-left: 20px;
}