body {
  font-family: arial;
}


form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

input {
  margin-right: 10px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  width: 100%; 
}

.table span {
  margin: 10px;
  padding: 5px;
}

.books_info {
  width: 30%;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}